In [53]:


import pandas as pd
f=pd.read_csv('data/melb_data.csv')
display(f.columns)
display(f.head(3))

# Пример подсчета уникальных значений по столбцам

unique_list=[]
for col in f.columns:
    # создаём кортеж (имя столбца, число уникальных значений)
    item = (col, f[col].nunique(),f[col].dtype) 
    # добавляем кортеж в список
    unique_list.append(item) 
# создаём вспомогательную таблицу и сортируем её
unique_counts = pd.DataFrame(
    unique_list,
    columns=['Column_Name', 'Num_Unique', 'Type']
).sort_values(by='Num_Unique',  ignore_index=True)
# выводим её на экран
unique_counts

# Конец примера

# Пример смены категории столбцов по заданному условию

cols_to_exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car'] # список столбцов, которые мы не берём во внимание
max_unique_count = 150 # задаём максимальное число уникальных категорий
for col in f.columns: # цикл по именам столбцов
    if f[col].nunique() < max_unique_count and col not in cols_to_exclude: # проверяем условие
        f[col] = f[col].astype('category') # преобразуем тип столбца
#f.info()

# Конец примера

print('++++++')
#f['Regionname'].info()
f['Regionname'].value_counts()
f['Regionname'].cat.codes
f['Method'].describe()
#print('++++++')
display(f.describe(include=['category']))
f['Type']=f['Type'].cat.rename_categories({'u': 'unit',
    't': 'townhouse',
    'h': 'house'})

new_houses_types = pd.Series(['unit', 'house', 'flat', 'flat', 'house'])
new_houses_types = new_houses_types.astype(f['Type'].dtype)
new_houses_types
#f.info()

print('XXXXXXXXXXXXXXXXXXXXXXXXXX')
#f['Suburb'].info()
f['Suburb'].value_counts()
p=f['Suburb'].value_counts().nlargest(119).index
f['Suburb']=f['Suburb'].apply(lambda x: x if x in p else 'other')
#f['Suburb'].info()
f['Suburb']=f['Suburb'].astype('category')
f['Suburb'].info()                             # 5.2

Index(['index', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method',
       'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount', 'Coordinates'],
      dtype='object')

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,"-37.8093, 144.9944"

++++++

         Type Method  YearBuilt CouncilArea             Regionname
count   13580  13580    13580.0       12211                  13580
unique      3      5      144.0          33                      8
top         h      S     1970.0    Moreland  Southern Metropolitan
freq     9449   9022     6241.0        1163                   4695

XXXXXXXXXXXXXXXXXXXXXXXXXX
<class 'pandas.core.series.Series'>
RangeIndex: 13580 entries, 0 to 13579
Series name: Suburb
Non-Null Count  Dtype
--------------  -----
13580 non-null  category
dtypes: category(1)
memory usage: 18.4 KB