In [ ]:
import pandas as pd
f=pd.read_csv('data/melb_data_ps.csv')
display(f.columns)
display(f.head())
display(f[['Date']].head())

f['Date']=pd.to_datetime(f['Date'],dayfirst=True)
f['MonthSale']=f['Date'].dt.month
#f[['Date']].head()
f[['MonthSale']].value_counts(normalize=True)
f['Date'].dt.date
f['Date']

In [ ]:
import pandas as pd
f=pd.read_csv('data/melb_data_ps.csv')
display(f.columns)
display(f.head())
f['Date']=pd.to_datetime(f['Date'],dayfirst=True)
f.drop(['Lattitude','Longtitude','Coordinates'],axis=1,inplace=True)
f['WeekdaySale']=f['Date'].dt.dayofweek
f.head()
weekend_count=f[(f['WeekdaySale']==5)+(f['WeekdaySale']==6)].shape[0]
weekend_count #3.3

In [ ]:
import pandas as pd
k=pd.read_csv('data/ufo.csv')
k['Date/Time']=pd.to_datetime(k['Time'],dayfirst=True)
display(k.head())
print('Всего = ',k['Date/Time'].shape[0])
print('Саммый год',k['Date/Time'].dt.year.mode()) # 3.4
k['Date']=k['Date/Time'].dt.date
print('---')
display(k.head())
print(type(k['Date/Time']))
print(type(k['Date']))
k[k['State']=='NV'].shape[0] # Всего в Неваде
k['Date']=pd.to_datetime(k['Date'],dayfirst=True)
k['Year']=k['Date'].dt.year
display(k.head())
#k['Year']=pd.to_datetime(k['Date/Time'],exact=False,format="%m/%Y") # Разобрать!!!!!!!!
#k[k['Year'] == '1970-01-01 00:00:00.000001950']
k['Delta']=k['Date'].diff()
k['Delta']=k['Delta'].dt.days
display(k.head())
k[k['State']=='NV']['Delta'].mean() #3.5 Неправильно, нельзя diff() использовать по отдельности

In [35]:
import pandas as pd
k=pd.read_csv('data/ufo.csv')
k['Time']=pd.to_datetime(k['Time'],dayfirst=True)
display(k.head())
k['Date'] = k['Time'].dt.date
display(k.head())
round(k[k['State']=='NV']['Date'].diff().dt.days.mean()) #3.5 Правильно, но нельзя diff() использовать по отдельности

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-01-06 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-01-06 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

,City,Colors Reported,Shape Reported,State,Time,Date
0,Ithaca,NaN,TRIANGLE,NY,1930-01-06 22:00:00,1930-01-06
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00,1930-06-30
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00,1931-02-15
3,Abilene,NaN,DISK,KS,1931-01-06 13:00:00,1931-01-06
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00,1933-04-18

69