In [65]:
import pandas as pd
r=pd.read_csv('data/citibike-tripdata.csv')
display(r.columns)
#display(r.head(3))
r.describe()
r.describe(include='object')
#r.info()
r['start station id'].count()

display(r['start station id'].shape[0]-r['start station id'].count()) # 6.1

#r['start station id'].info()
#r.info()
display(r['start station id'].dtype)

#r['starttime'].info() # 6.2
int(r['start station id'].mode()) #6.3
r['bikeid'].mode() # 6.4
round(r['usertype'].value_counts(normalize=True),2) # 6.5
r[r['gender']==1].shape[0] #6.6

print('//////////////')

r['start station id'].value_counts() # 6.7 A
r['end station id'].value_counts() # 6.7 A
2018-r['birth year'].max() # 6.7 B
r['start station name'].value_counts() # 6.7 C
r['end station name'].value_counts() # 6.7 D

r.drop(['start station id','end station id'],axis=1,inplace=True) # 6.8

r['age']=2018-r['birth year']
r[r['age']>60].value_counts().shape[0] # 6.9

display(r.head(2))
r['starttime']=pd.to_datetime(r['starttime'])
r['stoptime']=pd.to_datetime(r['stoptime'])
r['trip duration']=r['stoptime']-r['starttime']
r['trip duration'].dt.seconds.max()
#t.max()
#r['trip duration'].max()
#display(r['trip duration'])

Index(['starttime', 'stoptime', 'start station id', 'start station name',
       'start station latitude', 'start station longitude', 'end station id',
       'end station name', 'end station latitude', 'end station longitude',
       'bikeid', 'usertype', 'birth year', 'gender'],
      dtype='object')

169

dtype('float64')

//////////////

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1,38
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0,49

85973