In [46]:
import pandas as pd
dfg='index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates'
dfg=dfg.split(',')
a=pd.read_csv('data/countries.csv',sep=';')
b=pd.read_csv('data/melb_data.csv',skiprows=12)
c=pd.read_csv('data/melb_data.csv')
d=pd.read_csv('data/melb_data.csv',skiprows=1690,names=dfg)
e=pd.read_csv('data/melb_data.csv')
#display(d)
#c==b
g1=c.loc[3521,'Landsize']
g2=c.loc[1690,'Landsize']
#print(g1,g2)
g3=g1/g2
#print(g3)
#print(int(g3))
#display(c.tail(7))
#display(c.head(1))
#display(c.shape)
#display(c.info())
#display(c.CouncilArea)
#display(c)
#display(c.loc[13575,'Landsize'])
display(c.columns)
#display(c.YearBuilt)
#c['YearBuilt']=c['YearBuilt'].astype('int64')
print('######')
#display(c.CouncilArea)
print('++++++++')
display(c.describe(include=['object']).loc[:,['CouncilArea']])
#display(c['CouncilArea'].value_counts(dropna=False))
display(c.describe().loc[:,['Price']])

Index(['index', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method',
       'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount', 'Coordinates'],
      dtype='object')

######
++++++++

       CouncilArea
count        12211
unique          33
top       Moreland
freq          1163

              Price
count  1.358000e+04
mean   1.075684e+06
std    6.393107e+05
min    8.500000e+04
25%    6.500000e+05
50%    9.030000e+05
75%    1.330000e+06
max    9.000000e+06