In [68]:
import pandas as pd
r1=pd.read_csv('Data/Data_1/ratings1.csv')
r2=pd.read_csv('Data/Data_1/ratings2.csv')
d=pd.read_csv('Data/Data_1/dates.csv')
m=pd.read_csv('Data/Data_1/movies.csv')
#display(r1)
#display(r2)
#display(d)
#display(m)
display(d.head(3))
d['date']=pd.to_datetime(d['date'],dayfirst=True)
d['ymd']=d['date'].dt.date
d['year']=d['date'].dt.year
d['year'].value_counts().sort_values()

                  date
0  2000-07-30 18:45:03
1  2000-07-30 18:20:47
2  2000-07-30 18:37:04

1998      507
2014     1439
2013     1664
2011     1690
1997     1916
2010     2301
1999     2439
2004     3279
2002     3478
2001     3922
2003     4014
2006     4059
2009     4158
2008     4351
2012     4656
2005     5813
1996     6040
2018     6418
2015     6616
2016     6703
2007     7114
2017     8198
2000    10061
Name: year, dtype: int64