In [86]:
import pandas as pd
f=pd.read_csv('data/melb_data_fe.csv')

f['Date']=pd.to_datetime(f['Date'],dayfirst=True)
f['quarter']=f['Date'].dt.quarter
f['quarter'].value_counts()                     # 1.1

display(f.columns)
display(f.head(3))

l='Date,Rooms,Bedroom,Bathroom,Car,Weekend,Type'
l=[l.split(',')]
for i in f.columns:
    if f[i].value_counts().shape[0] < 5 and i not in l:
        print('fffffffffffffffffffffffffffffff')
        print(f[i].value_counts())

Index(['Suburb', 'Rooms', 'Type', 'Price', 'Method', 'SellerG', 'Date',
       'Distance', 'Postcode', 'Bedroom', 'Bathroom', 'Car', 'Landsize',
       'BuildingArea', 'CouncilArea', 'Lattitude', 'Longtitude', 'Regionname',
       'Propertycount', 'MeanRoomsSquare', 'AreaRatio', 'MonthSale',
       'AgeBuilding', 'WeekdaySale', 'StreetType', 'Weekend', 'quarter'],
      dtype='object')

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend,quarter
0,Abbotsford,2,house,1480000.0,S,Biggin,2016-03-12,2.5,3067,2,...,Northern Metropolitan,4019,25.20,-0.231707,3,46,5,St,1,1
1,Abbotsford,2,house,1035000.0,S,Biggin,2016-04-02,2.5,3067,2,...,Northern Metropolitan,4019,15.80,-0.327660,4,116,5,St,1,2
2,Abbotsford,3,house,1465000.0,SP,Biggin,2017-04-03,2.5,3067,3,...,Northern Metropolitan,4019,18.75,0.056338,4,117,0,St,0,2

fffffffffffffffffffffffffffffff
house        9449
unit         3017
townhouse    1114
Name: Type, dtype: int64
fffffffffffffffffffffffffffffff
1    9226
0    4354
Name: Weekend, dtype: int64
fffffffffffffffffffffffffffffff
3    4873
2    4359
4    2329
1    2019
Name: quarter, dtype: int64